.login-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  background-color: #f0f0f0; 
  margin: 0;
  padding: 0;
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
}

.login-box {
  background-color: white; 
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
  text-align: center; 
  width: 350px; 
}

.login-box h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left; 
}

.form-group label {
  font-size: 14px;
  color: #555;
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.form-group input:focus {
  border-color: #ff2f2f; 
}
.form-group-remember-me {
  display: flex; 
  align-items: center; 
  gap: 8px; 
  margin-bottom: 20px; 
}

.form-group-remember-me input {
  margin: 0;
  height: 16px; 
  width: 16px; 
}

.form-group-remember-me label {
  font-size: 14px; 
  color: #555; 
  margin: 0; 
  cursor: pointer; 
}


.login-button {
  background-color: #ff2f2f;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%; 
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #cc0000;
}

.signup-box {
  margin-top: 20px; 
  padding: 10px 15px; 
  background-color: #f9f9f9; 
  border: 1px solid #ddd; 
  border-radius: 5px;
  text-align: center; 
  font-size: 14px;
  color: #555; 
}

.signup-box .signup-link {
  color: #007bff; 
  text-decoration: none; 
  font-weight: bold; 
  cursor: pointer;
  transition: color 0.3s ease;
}

.signup-box .signup-link:hover {
  color: #0056b3; 
}
